{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('notification') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for user in users %}
        <div class="row p-1">
            <div class="col">{{ user.name }}</div>
            <div class="col">{{ user.hp }} </div>
            <div class="col"><a class="btn btn-outline-secondary btn-sm" href="{{ path('attack', {'id' : user.id}) }}">Attaque</a></div>
            <div class="col"><a class="btn btn-outline-secondary btn-sm" href="{{ path('heal', {'id' : user.id}) }}">Soigner</a></div>
        </div>

    {% endfor %}
{% endblock %}
