<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}

    </head>
    <body>
    {{ include('_menu.html.twig') }}

    <div class="container">
        {{ 'test'|trans }}


            <li>
                <a href="{{ path('index', {'_locale' : 'en'}) }}">test
                </a>
            </li>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </div>
    </body>
</html>
